* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    user-select: none;
    color: #00e927;
    outline: none;
    border: none;
    margin: 0;
}
::selection {
    background-color: #00e927;
    color: #002006;
}
::placeholder {
    color: #00e927;
    opacity: 50%;
}
body {
    background-color: black;
}
#notes {
    color: #00e927;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 20px;
}
#line {
    background-color: rgb(90, 90, 90);
    height: 2px;
    width: 100%;
}
#write {
    height: calc(100vh - 97px);
    width: calc(100vw - 20px);
    padding: 10px;
    font-size: 25px;
    resize: none;
}
#write::placeholder {
    font-size: 25px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(70, 70, 70);
}
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar {
    width: 3px;
}
